.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 1%;
    display: inline-block;
}

.logo{
    width: 240px;
    height: 100px;
    cursor: pointer;
}

.heading{
    display: inline-block;
    margin: 0px 95px 10px 4px;
    font-size: 30px;
    cursor: pointer;
    /* position: relative; */
    
}

hr{
    height: 1.1px;
    background-color: rgb(84, 197, 197);
    border: none;
    position: relative;
    top: -30px;
}

#home{
    position: relative;
    top: -18px;
    left: 530px;
}
#home:hover{
    color: rgb(84, 197, 197);
    text-decoration: underline;
    text-decoration-thickness: 10px;
}
#explore:hover{
    color: rgb(84, 197, 197);
    text-decoration: underline;
    text-decoration-thickness: 10px;
}
#about:hover{
    color: rgb(84, 197, 197);
    text-decoration: underline;
    text-decoration-thickness: 10px;
}
#contact:hover{
    color: rgb(84, 197, 197);
    text-decoration: underline;
    text-decoration-thickness: 10px;
}
